Aufstand/Library/PackageCache
Aufstand/Assets/Resources/Clouds
Aufstand/Assets/Resources/CloudsAlpha
Aufstand/Assets/Resources/Specular
Aufstand/Assets/TextMesh Pro
Aufstand/Temp
Aufstand/Logs
Aufstand/Library